<%= image_tag @hospital_item.hospital_photo unless @hospital_item.hospital_photo.nil?%>

<h1><%= @hospital_item.title %></h1>

<em><%= @hospital_item.city %></em>

<p><%= @hospital_item.description %></p>